html {
    background: white;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    text-decoration: none;
    background-color: #fddcc4;
    color: #292929;
    border-radius: 50px 50px 50px;
}

.btn:hover {
    background-color: #f1c69b;
}

.container {
    max-width: 1020px;
    width: 100%;
}

.page-header {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    background-color: black;
    background-image: url("../img/page-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header-logo {
    max-width: 205px;
    min-width: 165px;
}

.header-logo a {
    text-decoration: none;
}

.name {
    padding: 0;
    margin: 0;
    color: #f1cdb3;
    font-size: 30px;
}

.name-of {
    padding: 5px 0 0 0;
    margin: 0;
    color: white;
}

.main-nav {
    position: relative;
    width: 550px;
    height: 50px;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-nav li {
    float: left;
    margin-right: 39px;
    font-size: 1.1rem;
}

.main-nav li:last-child {
    margin-right: 0;
}
.main-nav a {
    color: #a3a2a2;
    text-decoration: none;
}

.main-nav a:hover {
    color: white;
    text-decoration: underline;
}

.first-btn {
    width: 150px;
    text-align: center;
    font-size: 20px;
}

.first-text-block {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.first-text-block h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 58px;
    margin-bottom: 0;
}

.first-text-block p {
    font-size: 20px;
}

.about-the-shelter {
    width: 100%;
    margin: 0;
    padding: 50px 0 50px 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.about-img {
    margin-right: 100px;
}

.about-text h2 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.make-a-friend {
    width: 100%;
    max-width: 1920px;
    max-height: 825px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 69px 0;
}

.make-a-friend h2 {
    margin: 0;
    padding: 80px 0;
    font-size: 46px;
    text-align: center;
    color: #545454;
    font-family: 'Quicksand', sans-serif;
}

.arrow-left,
.arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-left img:hover,
.arrow-right img:hover {
    border-radius: 28px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
}

.arrow-right {
    padding-left: 80px;
}

.arrow-left {
    padding-right: 80px;
}

.our-friends {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friends-common {
    width: 273px;
    height: 415px;
    background-color: #fafafa;
    text-align: center;

}

.friends-common p {
    margin: 0;
    padding:0 0 20px 0;
    font-size: 23px;
}

.a-plate {
    text-decoration: none;
    color: #545454;
}

.friends-common:hover {
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
}

.btn-info {
    background-color: white;
    border: 3px solid #f1cdb3;
    align-content: center;

    }

.btn-info:hover {
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    text-decoration: none;
    background-color: #f1cdb3;
    color: #292929;
    border-radius: 50px 50px 50px;
}

.cat {
    margin-right: 50px;
}

.dog-2 {
    margin-left: 50px;
}

.get-to-know {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 68px 0;
}

.get-to-know a {
    width: 175px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.help-shelter {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 80px 0;
}

.help-shelter h2 {
    padding: 70px 0;
    margin: 0;
    font-size: 46px;
    text-align: center;
    color: #545454;
    font-family: 'Quicksand', sans-serif;
}

.five-help {
    padding-bottom: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.four-help {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 105px;
    width: 135px;
}

.donation {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.donation .container {
    padding: 69px 0;
}

.donation h2 {
    margin: 0;
    font-size: 46px;
    text-align: left;
    color: #545454;
    font-family: 'Quicksand', sans-serif;
}

.donation-img {
    padding-right: 30px;
}

.don-dog {
    width: 100%;
}

.donation-info {
    font-family: Georgia regular;
    font-size: 17px;
}

.credit-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f1cdb3;
    border: 10px solid #f1cdb3;
    border-radius: 10px;
    width: 270px;
    font-size: 20px;
}

.credit-card img {
    height: 50%;
    margin: 0 15px 0 0;
    padding: 0;
}

.credit-card p {
    margin: 0;
    padding: 0;
}

.credit-card-text {
    padding-top: 10px;
    font-family: Arial serif;
    font-style: italic;
    color: #545454;
}

.page-footer {
    width: 100%;
    max-width: 1960px;
    color: white;
    margin: auto;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    background-color: black;
    background-image: url("../img/footer-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-footer h2 {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts .first {
    margin-right: 171px;
}

.contacts .second {
    margin-right: 121px;
}

.first,
.second {
    padding-top: 50px;
    padding-bottom: 20px;
}

.first h2,
.second h2 {
    font-size: 40px;
}

.first p,
.second p {
    color: #f1cdb3;
}

.dog-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon-top {
    margin-top: 30px;
}

.icon img {
    height: 50%;
    margin-right: 21px;
    padding-top: 15px;
}

.icon p {
    margin-bottom: 35px;
}

@media screen and (max-width: 800px) {
    .header-container {
        width: 100%;
    }

    .header-top,
    .first-text-block {
        margin-left: 10px;
    }

    .first-text-block h2 {
        font-size: 40px;
    }

    .first-text-block p {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px){
    .header-container {
        width: 60%;
    }
}

@media screen and (max-width: 1100px){
    .header-top {
        flex-direction: column;
    }

    .main-nav {
        flex-direction: column;
        padding-left: 0;
    }

    .header-logo {
        padding-bottom: 20px;
    }

    .header-top,
    .first-text-block {
        align-items: flex-start;
    }
}

@media screen and (max-width: 570px){
    .header-logo {
        padding-bottom: 25px;
    }
    .main-nav {
        width: 300px;
        flex-wrap: nowrap;
    }

    .main-nav li {
        padding-bottom: 7px;
    }

    .make-a-friend h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1250px){
    .main-nav {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1250px){
    .main-nav {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px){
    .about-img {
        width: 70%;
    }

    .about-text {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {

    .friends-common:nth-of-type(2) {
        display: none;
    }

    .friends-common:nth-of-type(4) {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .arrow-right {
        display: none;
    }

    .arrow-left {
        display: none;
    }
}

@media screen and (max-width: 345px){
    .credit-card {
        width: 80%;
    }
}

@media screen and (min-width: 1650px){
    .help-shelter {
        padding: 0 445px 80px 445px;
    }
}